root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 150

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = always:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_prefer_braces = true:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

[*.{json,yml,yaml}]
indent_size = 2
